## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN','NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_count = application_df.nunique()
unique_count

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# For columns with more than 10 unique values, determine the number of data points for each unique value
data_points = list(unique_count[unique_count>10].index)
print(data_points)

for x in data_points:
    print(application_df[x].value_counts())

['APPLICATION_TYPE', 'CLASSIFICATION', 'ASK_AMT']
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df['APPLICATION_TYPE'].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_count[app_count<200].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
cls_count = application_df['CLASSIFICATION'].value_counts()
cls_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
cls_count.loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(cls_count[cls_count<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies = pd.get_dummies(application_df)
app_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = app_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = app_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=41)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# optimize by adding additional layer, adjusting node units, and adjusting epochs

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
hidden_nodel = 30
hidden_node2 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodel, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node2, activation='tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                1320

 dense_1 (Dense)             (None, 10)                310

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1,641
Trainable params: 1,641
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [15]:
# Create a callback that saves the model's weight every five epochs
import os

cp_path = 'training/cp_2nd_node.{epoch}.hdf5'
cp_dir = os.path.dirname(cp_path)

cp_callback = tf.keras.callbacks.ModelCheckpoint(
    cp_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=5
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [16]:
# Train the optimized model
fit_model_1 = nn.fit(X_train_scaled, y_train, epochs=50, callbacks=[cp_callback])

Epoch 1/50
804/804 [==============================] - 1s 880us/step - loss: 0.5748 - accuracy: 0.7172
Epoch 2/50
804/804 [==============================] - 1s 915us/step - loss: 0.5553 - accuracy: 0.7304
Epoch 3/50
804/804 [==============================] - 1s 910us/step - loss: 0.5525 - accuracy: 0.7320
Epoch 4/50
804/804 [==============================] - 1s 931us/step - loss: 0.5508 - accuracy: 0.7332
Epoch 5/50
795/804 [============================>.] - ETA: 0s - loss: 0.5491 - accuracy: 0.7322
Epoch 5: saving model to training\cp_2nd_node.5.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7322
Epoch 6/50
804/804 [==============================] - 1s 927us/step - loss: 0.5487 - accuracy: 0.7334
Epoch 7/50
804/804 [==============================] - 1s 912us/step - loss: 0.5479 - accuracy: 0.7338
Epoch 8/50
804/804 [==============================] - 1s 955us/step - loss: 0.5474 - accuracy: 0.7346
Epoch 9/50
804/804 [==============================] - 1s 861us/step - loss: 0.5471 - accuracy: 0.7352
Epoch 10/50
803/804 [============================>.] - ETA: 0s - loss: 0.5462 - accuracy: 0.7360
Epoch 10: saving model to training\cp_2nd_node.10.hdf5
804/804 [==============================] - 1s 897us/step - loss: 0.5462 - accuracy: 0.7359
Epoch 11/50
804/804 [==============================] - 1s 875us/step - loss: 0.5459 - accuracy: 0.7353
Epoch 12/50
804/804 [==============================] - 1s 869us/step - loss: 0.5456 - accuracy: 0.7359
Epoch 13/50
804/804 [==============================] - 1s 909us/step - loss: 0.5453 - accuracy: 0.7359
Epoch 14/50
804/804 [==============================] - 1s 974us/step - loss: 0.5451 - accuracy: 0.7356
Epoch 15/50
766/804 [===========================>..] - ETA: 0s - loss: 0.5445 - accuracy: 0.7363
Epoch 15: saving model to training\cp_2nd_node.15.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7361
Epoch 16/50
804/804 [==============================] - 1s 864us/step - loss: 0.5444 - accuracy: 0.7370
Epoch 17/50
804/804 [==============================] - 1s 844us/step - loss: 0.5443 - accuracy: 0.7362
Epoch 18/50
804/804 [==============================] - 1s 882us/step - loss: 0.5439 - accuracy: 0.7369
Epoch 19/50
804/804 [==============================] - 1s 838us/step - loss: 0.5438 - accuracy: 0.7355
Epoch 20/50
797/804 [============================>.] - ETA: 0s - loss: 0.5433 - accuracy: 0.7366
Epoch 20: saving model to training\cp_2nd_node.20.hdf5
804/804 [==============================] - 1s 855us/step - loss: 0.5435 - accuracy: 0.7363
Epoch 21/50
804/804 [==============================] - 1s 823us/step - loss: 0.5431 - accuracy: 0.7365
Epoch 22/50
804/804 [==============================] - 1s 850us/step - loss: 0.5431 - accuracy: 0.7373
Epoch 23/50
804/804 [==============================] - 1s 882us/step - loss: 0.5427 - accuracy: 0.7373
Epoch 24/50
804/804 [==============================] - 1s 833us/step - loss: 0.5426 - accuracy: 0.7379
Epoch 25/50
769/804 [===========================>..] - ETA: 0s - loss: 0.5424 - accuracy: 0.7372
Epoch 25: saving model to training\cp_2nd_node.25.hdf5
804/804 [==============================] - 1s 887us/step - loss: 0.5426 - accuracy: 0.7375
Epoch 26/50
804/804 [==============================] - 1s 849us/step - loss: 0.5427 - accuracy: 0.7379
Epoch 27/50
804/804 [==============================] - 1s 812us/step - loss: 0.5424 - accuracy: 0.7372
Epoch 28/50
804/804 [==============================] - 1s 874us/step - loss: 0.5421 - accuracy: 0.7378
Epoch 29/50
804/804 [==============================] - 1s 844us/step - loss: 0.5420 - accuracy: 0.7368
Epoch 30/50
788/804 [============================>.] - ETA: 0s - loss: 0.5418 - accuracy: 0.7377
Epoch 30: saving model to training\cp_2nd_node.30.hdf5
804/804 [==============================] - 1s 863us/step - loss: 0.5415 - accuracy: 0.7379
Epoch 31/50
804/804 [==============================] - 1s 809us/step - loss: 0.5417 - accuracy: 0.7374
Epoch 32/50
804/804 [==============================] - 1s 871us/step - loss: 0.5417 - accuracy: 0.7372
Epoch 33/50
804/804 [==============================] - 1s 821us/step - loss: 0.5416 - accuracy: 0.7380
Epoch 34/50
804/804 [==============================] - 1s 822us/step - loss: 0.5411 - accuracy: 0.7376
Epoch 35/50
778/804 [============================>.] - ETA: 0s - loss: 0.5409 - accuracy: 0.7387
Epoch 35: saving model to training\cp_2nd_node.35.hdf5
804/804 [==============================] - 1s 864us/step - loss: 0.5414 - accuracy: 0.7387
Epoch 36/50
804/804 [==============================] - 1s 887us/step - loss: 0.5412 - accuracy: 0.7386
Epoch 37/50
804/804 [==============================] - 1s 821us/step - loss: 0.5409 - accuracy: 0.7387
Epoch 38/50
804/804 [==============================] - 1s 877us/step - loss: 0.5412 - accuracy: 0.7390
Epoch 39/50
804/804 [==============================] - 1s 956us/step - loss: 0.5411 - accuracy: 0.7383
Epoch 40/50
763/804 [===========================>..] - ETA: 0s - loss: 0.5406 - accuracy: 0.7396
Epoch 40: saving model to training\cp_2nd_node.40.hdf5
804/804 [==============================] - 1s 890us/step - loss: 0.5408 - accuracy: 0.7389
Epoch 41/50
804/804 [==============================] - 1s 851us/step - loss: 0.5407 - accuracy: 0.7383
Epoch 42/50
804/804 [==============================] - 1s 898us/step - loss: 0.5401 - accuracy: 0.7384
Epoch 43/50
804/804 [==============================] - 1s 825us/step - loss: 0.5405 - accuracy: 0.7383
Epoch 44/50
804/804 [==============================] - 1s 837us/step - loss: 0.5403 - accuracy: 0.7387
Epoch 45/50
780/804 [============================>.] - ETA: 0s - loss: 0.5404 - accuracy: 0.7388
Epoch 45: saving model to training\cp_2nd_node.45.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7389
Epoch 46/50
804/804 [==============================] - 1s 889us/step - loss: 0.5401 - accuracy: 0.7388
Epoch 47/50
804/804 [==============================] - 1s 835us/step - loss: 0.5401 - accuracy: 0.7391
Epoch 48/50
804/804 [==============================] - 1s 920us/step - loss: 0.5397 - accuracy: 0.7389
Epoch 49/50
804/804 [==============================] - 1s 951us/step - loss: 0.5398 - accuracy: 0.7388
Epoch 50/50
761/804 [===========================>..] - ETA: 0s - loss: 0.5406 - accuracy: 0.7380
Epoch 50: saving model to training\cp_2nd_node.50.hdf5
804/804 [==============================] - 1s 942us/step - loss: 0.5399 - accuracy: 0.7383

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5551 - accuracy: 0.7224 - 273ms/epoch - 1ms/step
Loss: 0.555091917514801, Accuracy: 0.722449004650116

In [18]:
# optimize by weight clustering
import tensorflow_model_optimization as tfmot

# Define wegith clustering params
cluster_weights = tfmot.clustering.keras.cluster_weights
cent_init = tfmot.clustering.keras.CentroidInitialization

clustering_params = {
    'number_of_clusters': 16,
    'cluster_centroids_init': cent_init.LINEAR
}

# cluster original model
cluster_model = cluster_weights(nn, **clustering_params)

cluster_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [19]:
# Create a callback that saves the model's weight every five epochs

cp_path = 'training/cp_weighted.{epoch}.hdf5'
cp_dir = os.path.dirname(cp_path)

cp_callback_2 = tf.keras.callbacks.ModelCheckpoint(
    cp_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=5
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [20]:
# Train the optimized model with additional epochs
fit_model_2 = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=50, callbacks=[cp_callback_2])

Epoch 1/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7378 - val_loss: 0.5404 - val_accuracy: 0.7398
Epoch 2/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7384 - val_loss: 0.5409 - val_accuracy: 0.7411
Epoch 3/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7385 - val_loss: 0.5422 - val_accuracy: 0.7429
Epoch 4/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7382 - val_loss: 0.5421 - val_accuracy: 0.7414
Epoch 5/50
678/684 [============================>.] - ETA: 0s - loss: 0.5384 - accuracy: 0.7381
Epoch 5: saving model to training\cp_weighted.5.hdf5
684/684 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7380 - val_loss: 0.5436 - val_accuracy: 0.7427
Epoch 6/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7391 - val_loss: 0.5437 - val_accuracy: 0.7403
Epoch 7/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7388 - val_loss: 0.5436 - val_accuracy: 0.7416
Epoch 8/50
684/684 [==============================] - 1s 986us/step - loss: 0.5388 - accuracy: 0.7382 - val_loss: 0.5446 - val_accuracy: 0.7403
Epoch 9/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7394 - val_loss: 0.5453 - val_accuracy: 0.7411
Epoch 10/50
649/684 [===========================>..] - ETA: 0s - loss: 0.5392 - accuracy: 0.7386
Epoch 10: saving model to training\cp_weighted.10.hdf5
684/684 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7394 - val_loss: 0.5441 - val_accuracy: 0.7419
Epoch 11/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7392 - val_loss: 0.5463 - val_accuracy: 0.7403
Epoch 12/50
684/684 [==============================] - 1s 977us/step - loss: 0.5383 - accuracy: 0.7384 - val_loss: 0.5447 - val_accuracy: 0.7388
Epoch 13/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7395 - val_loss: 0.5447 - val_accuracy: 0.7362
Epoch 14/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7393 - val_loss: 0.5456 - val_accuracy: 0.7367
Epoch 15/50
628/684 [==========================>...] - ETA: 0s - loss: 0.5399 - accuracy: 0.7371
Epoch 15: saving model to training\cp_weighted.15.hdf5
684/684 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7393 - val_loss: 0.5454 - val_accuracy: 0.7398
Epoch 16/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7396 - val_loss: 0.5459 - val_accuracy: 0.7416
Epoch 17/50
684/684 [==============================] - 1s 996us/step - loss: 0.5379 - accuracy: 0.7398 - val_loss: 0.5457 - val_accuracy: 0.7391
Epoch 18/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7394 - val_loss: 0.5454 - val_accuracy: 0.7357
Epoch 19/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7391 - val_loss: 0.5466 - val_accuracy: 0.7388
Epoch 20/50
650/684 [===========================>..] - ETA: 0s - loss: 0.5379 - accuracy: 0.7394
Epoch 20: saving model to training\cp_weighted.20.hdf5
684/684 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7396 - val_loss: 0.5469 - val_accuracy: 0.7380
Epoch 21/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7396 - val_loss: 0.5454 - val_accuracy: 0.7398
Epoch 22/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7396 - val_loss: 0.5454 - val_accuracy: 0.7406
Epoch 23/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7402 - val_loss: 0.5480 - val_accuracy: 0.7406
Epoch 24/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7399 - val_loss: 0.5462 - val_accuracy: 0.7388
Epoch 25/50
671/684 [============================>.] - ETA: 0s - loss: 0.5373 - accuracy: 0.7403
Epoch 25: saving model to training\cp_weighted.25.hdf5
684/684 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7400 - val_loss: 0.5465 - val_accuracy: 0.7383
Epoch 26/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7395 - val_loss: 0.5462 - val_accuracy: 0.7372
Epoch 27/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7396 - val_loss: 0.5455 - val_accuracy: 0.7388
Epoch 28/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7403 - val_loss: 0.5475 - val_accuracy: 0.7385
Epoch 29/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7399 - val_loss: 0.5476 - val_accuracy: 0.7393
Epoch 30/50
648/684 [===========================>..] - ETA: 0s - loss: 0.5374 - accuracy: 0.7396
Epoch 30: saving model to training\cp_weighted.30.hdf5
684/684 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7400 - val_loss: 0.5469 - val_accuracy: 0.7398
Epoch 31/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7399 - val_loss: 0.5468 - val_accuracy: 0.7383
Epoch 32/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7404 - val_loss: 0.5468 - val_accuracy: 0.7396
Epoch 33/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7401 - val_loss: 0.5489 - val_accuracy: 0.7383
Epoch 34/50
684/684 [==============================] - 1s 982us/step - loss: 0.5368 - accuracy: 0.7403 - val_loss: 0.5481 - val_accuracy: 0.7391
Epoch 35/50
659/684 [===========================>..] - ETA: 0s - loss: 0.5378 - accuracy: 0.7395
Epoch 35: saving model to training\cp_weighted.35.hdf5
684/684 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7402 - val_loss: 0.5479 - val_accuracy: 0.7393
Epoch 36/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7406 - val_loss: 0.5479 - val_accuracy: 0.7365
Epoch 37/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7401 - val_loss: 0.5477 - val_accuracy: 0.7393
Epoch 38/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7394 - val_loss: 0.5486 - val_accuracy: 0.7396
Epoch 39/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7410 - val_loss: 0.5482 - val_accuracy: 0.7396
Epoch 40/50
671/684 [============================>.] - ETA: 0s - loss: 0.5364 - accuracy: 0.7398
Epoch 40: saving model to training\cp_weighted.40.hdf5
684/684 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7396 - val_loss: 0.5476 - val_accuracy: 0.7383
Epoch 41/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7399 - val_loss: 0.5478 - val_accuracy: 0.7393
Epoch 42/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7406 - val_loss: 0.5510 - val_accuracy: 0.7328
Epoch 43/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7400 - val_loss: 0.5485 - val_accuracy: 0.7380
Epoch 44/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7410 - val_loss: 0.5483 - val_accuracy: 0.7359
Epoch 45/50
632/684 [==========================>...] - ETA: 0s - loss: 0.5385 - accuracy: 0.7378
Epoch 45: saving model to training\cp_weighted.45.hdf5
684/684 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7399 - val_loss: 0.5487 - val_accuracy: 0.7396
Epoch 46/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7402 - val_loss: 0.5468 - val_accuracy: 0.7388
Epoch 47/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7400 - val_loss: 0.5475 - val_accuracy: 0.7362
Epoch 48/50
684/684 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7401 - val_loss: 0.5482 - val_accuracy: 0.7391
Epoch 49/50
684/684 [==============================] - 1s 983us/step - loss: 0.5364 - accuracy: 0.7403 - val_loss: 0.5484 - val_accuracy: 0.7385
Epoch 50/50
673/684 [============================>.] - ETA: 0s - loss: 0.5366 - accuracy: 0.7402
Epoch 50: saving model to training\cp_weighted.50.hdf5
684/684 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7400 - val_loss: 0.5491 - val_accuracy: 0.7380

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = cluster_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5578 - accuracy: 0.7208 - 371ms/epoch - 1ms/step
Loss: 0.5577883720397949, Accuracy: 0.7208163142204285

In [25]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=80,
        step=5), activation=activation, input_dim=input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [26]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=100,
    hyperband_iterations=2)

INFO:tensorflow:Reloading Tuner from .\untitled_project\tuner0.json

In [27]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=100,validation_data=(X_test_scaled,y_test))

Trial 500 Complete [00h 01m 40s]
val_accuracy: 0.7266472578048706

Best val_accuracy So Far: 0.7281632423400879
Total elapsed time: 01h 35m 37s
INFO:tensorflow:Oracle triggered exit

In [28]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'relu',
 'first_units': 9,
 'num_layers': 5,
 'units_0': 9,
 'units_1': 3,
 'units_2': 3,
 'units_3': 7,
 'units_4': 3,
 'units_5': 5,
 'tuner/epochs': 34,
 'tuner/initial_epoch': 12,
 'tuner/bracket': 4,
 'tuner/round': 3,
 'tuner/trial_id': '0386'}

In [29]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5600 - accuracy: 0.7282 - 324ms/epoch - 1ms/step
Loss: 0.5599947571754456, Accuracy: 0.7281632423400879

In [30]:
# Export our model to HDF5 file
best_model.save('output/AlphabetSoupCharity_Optimization.h5')